* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App {
    background-color: #FFFF;
    height: 100vh;
    text-align: center;
}

.App-header {
    display: flex;
    background-color: #ECECEC;
    height: 10vh;
    width: 80%;
    margin: auto;

}


nav {
    width: 100%;
}

.navbar-nav{
    width: 100%;
}

.btnNav{
    text-decoration: none;
    color: #000000;
    margin-right:1% ;
}





.bg-info{
background-color: #5DADE2!important;
}

.BoxProd {
    padding-top: 2%;

}

.sectionTitle {
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    justify-content: center;
    width: 80%;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #000000
}


h1 {
    color: black;
    margin: auto;

}

.cartClass {
    height: auto;
    width: auto;
    background-color: #5DADE2!important;
    border: none; 
    padding: 5%;
    margin: 1%;
}
.badgeClass{
    color: #FFFFFF;
  

}

.cartImage{
    padding:5%;
}



.list-group-flush {
    padding-top: 2%;
    width: 80%;
    margin: auto;
}

.Products {
    display: flex;
    width: 80%;
    padding-top: 1%;
    margin: auto;
    flex-wrap: wrap;

}



.CardProd {
    width: 23%;
    margin: 1%;
}

.itemFooter{
   
    background-color: #ECECEC!important;
}

.CardProdDetail{
    width: 80%;
    margin: auto;
}

.CardProdDetailBody{
    display: flex;
   flex-direction: row!important;
    width: 100%;
    margin: auto;

}

.card-footer{
 border: none!important;
    background-color: #ffffff!important;
}

.btnVolver{

    background-color: #ECECEC!important;
        color: #000000!important;

}




.itemPanelAdd {
    display: flex;
    width: 100%;
    justify-content: center;
}



.itemCountValue {
    margin: 5%;
}

.prodImgStyle {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 5%;
}

.prodDetailsImgStyle {
    width: 30%!important;
    border-radius: 5px!important;
    margin-right: 2%;
}

.prodCartView {
  text-align: center;
    width: 10%!important;
    border-radius: 5px!important;
    margin-right: 2%;
}

.CardItemCart{
    display: flex;
    flex-direction: row!important;
    width: 80%;
    margin:auto;
    padding: 1%;
    align-items: center;
}

.DeleteItemCartBtn{
   margin: auto;
    background-color: red!important;
    color:white!important;
    border: none!important;
    
  
}

.CardBtnDelete{
    border: none!important;
    width: 20%;
}


.spinner {
    margin-top: 10%;
    color: #000000!important;
}


.details{
    margin: 2%;
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.detailsFooter{
    background-color: #ECECEC!important;
}


.btn-primary{
    border-color: #000000!important;
}

.btn-primary:hover{
    color: #ececec !important;;
    background-color: #000000!important;
    border-color: #000000!important;

}


.btnNav:hover{
    color: #5DADE2;

}


.navbar-brand,.navbar-nav{
    flex-wrap: wrap;
}

.addToCart{
    margin: 2%;
    color: #FFFFFF!important;
    background-color: #000000!important;
}

.addToCart:hover{
    background-color: #58D68D!important;
    border-color: #58D68D;
    color: #000000!important;  
}

.Footer{
    display: flex!important;
    flex-direction: row!important;
width: 100%!important;
border: none!important;

    }


.cardFooter{
    background-color: #ECECEC;
    width: 33%!important;
    flex-wrap: nowrap!important;

}

.FooterCP{
    border: none!important;
    width: 100%!important;
    display: block;
    background-color: #D8D8D8!important;
}